.app {
  position:relative;
    text-align: center;
    width: 1200px;
    height: 100vh;
  }
  /* media */
  @media (max-width: 1199.98px) {
    .app {
      width: 992px;
    }
    .left{
      padding-right: 60px;
    }
    .right img{
      height: 94.5%;
    }
    .win{
      height: 94.5%;
    }
  }
  @media (max-width: 991.98px) {
    .app {
      width: 768px;
    }
    .box{
      grid-template-columns: auto;
      position: relative;
      height: auto;
      margin: 100px auto;
    }
    .order1{
      order: 3;
    }
    .order2{
      order: 2;
    }
    .right img{
      border-radius: 0;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
    
  }
  @media (max-width: 767.98px) {
    .app {
      width: 576px;
    }
  }
  @media (max-width: 575.98px) {
    .app {
      width: calc(100% - 30px);
      padding: 0 15px;
    }
    .left{
      text-align: center;
      padding: 60px 10px;
    }
    .bottom-left {
grid-template-columns: auto;
text-align: center;
width: 100%;
    }
    .bottom-left div {
      text-align: center;
    }
 
  }
   @media (max-width: 400.98px) {
    
    .left{
      text-align: center;
    }
    .bottom-left {
grid-template-columns: auto;
text-align: center;
width: 100%;
    }
    .bottom-left div {
      margin-top: 20px
    }
    .left{
      padding: 20px 10px;
    }
    .left p{
      margin-bottom: 20px;
      font-size: 11px;
    }
    .left h3{
     font-size: 24px;

    }
  }